datafiles/
data/
downloaded_data/
dumping ground/
example_results/
gridded_results/
plots/
precipitation_data/
processed_data/
SMAP_data/
temp_data/
test_processed_data/
test_sample_data/
two_phase_results/
two_phase_results_5yr/
temp.py
*.pdf
__pycache__/
.vscode/
*.csv
*.nc
*.zip
*.txt
*.log
*.nc
*.nc4
*.h5
*.he5
*.dodsrc
__pycache__/
*.zip
*.png
images/
*.pdf
*.json
